*{
    padding:0;
    margin: 0;
    box-sizing: border-box;    
    /* border:1px solid green; */
}
:root {
    --body-color:#efefef;
    --nav-color: #1876f2;
    --bg-color: #fff;
}
.dark-theme{
    --body-color:#0a0a0a;
    --nav-color:#000;
    --bg-color: #000;
    /* --bg-color: #0d1117; */
}
body{
    background-color:var(--body-color);
    transition: background 0.3s;
}
/*---------------- navigation -------------------*/
nav{
    display:flex;
    background-color:var(--nav-color);
    padding:10px 5%;;
    align-items:center;
    justify-content:space-between;  
    position:sticky;
    top:0; 
    z-index:100;
}
.logo{
    width:160px;
    margin-right:45px;     
}
.nav-left{
    display:flex;   
}
.nav-left ul{
    display:flex;
    gap:15px;
    list-style: none;   
    align-items:center;   
}
.nav-left ul li{
    display:grid;
    place-items:center;
}
.nav-left ul li img{    
    max-width:28px;
}
.nav-right {
    display:flex;
    align-items:center;
    justify-content: center;
    gap:30px;
}
.searchbox{
    display:flex;
    align-items:center;    
    background-color: #efefef;
    border-radius:20px;
    width:350px;
    padding:0 13px;
}
.searchbox img{
    width:18px;   
}
.searchbox input{
    width:100%;
    padding:10px;
    outline:none;
    background-color: transparent;
    border:none;
    font-size:16px;
}
.nav-user-icon{
    display:grid;
    place-items:center;    
}
.nav-user-icon img{
    max-width:40px;
    border-radius:50%;
    cursor:pointer;
}
.online{
    position:relative;   
}
.online::after{
    content: '';
    width:7px;
    height:7px;
    border:2px solid #fff;
    border-radius:50%;
    background-color: #41db51;
    position:absolute;
    top:0;
    right:0;
}
.container{    
    display:flex;
    justify-content: space-between;
    padding:13px 5%;
}
.left-sidebar{
    /* background-color:#cbdffa; */
    flex-basis: 25%;
    align-self:flex-start; 
    position:sticky;
    top:75px;
}
.main-content{
    flex-basis: 47%;
    /* border:1px solid blue; */
}
.right-sidebar{
    background-color:var(--bg-color);
    flex-basis: 25%;
    align-self:flex-start; 
    padding:20px;
    border-radius:4px;
    color:#626262;
    position:sticky;
    top:75px;     
}
/*----------- left-sidebar-------------- */
/* .imp-links{
    display:flex;
    flex-direction:column;
    gap:30px;
    align-items:start;
}
.imp-links a{
    text-decoration:none;
    display:flex;
    align-items: center;
    gap:5px; 
    border:1px solid green;   
} */
.imp-links a, .shortcut-link a{
    text-decoration:none;   
    /* border:1px solid green; */
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:30px;
    width:fit-content;
    color:#626262
}
.imp-links img{
    width:25px;
}
.imp-links a:last-child{   
    color:#1876f2;
}
.imp-links{
    border-bottom:1px solid #ccc;
}
.shortcut-link p{
   margin-block:25px;
   color:#626262;
   font-weight:500;
}
.shortcut-link a img{
    max-width:40px;
    border-radius:4px;
}
/*----------- right-sidebar-------------- */
.sidebar-title{   
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-bottom:18px;
}
.sidebar-title h4{
    font-weight:600;
    font-size:16px;
}
.sidebar-title a{
    text-decoration:none;
    font-size:12px;
    color:#1876f2;
}
.event{
    display:flex;
    gap:15px;
    margin-bottom:20px;
    align-items:center;
    font-size:16px;
}
.left-event{
    height:65px;
    width:65px;
    text-align:center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow:hidden;
    position:relative;
    border-radius:10px;
    padding-top:12px;    
}
.event h3{
    /* border:1px solid red; */
}
.left-event span{
    position:absolute;
    bottom:0;
    right:0;
    width:100%;
    background-color:#1876f2;
    color:white;
    font-size:10px;
    padding:4px 0; 
}
.event p{    
    font-size:12px;
    padding:5px 0;
}
.event a{
    text-decoration:none;
    color:#1876f2;
}
.sidebar-ads{
    width:100%;
    margin-bottom:20px;
    border-radius:4px;
}
.online-list{
    display:flex;
    align-items:center;
    margin-bottom:20px;
    gap:15px;
}
.online-list img{
    max-width:40px;
    border-radius:50%;
}
.online-list .online::after{
    top:unset;
    bottom:5px;
}
/*-----------main-content-------------- */
.story-gallery{
    display:flex;
    justify-content:space-between;
    margin-bottom:20px;   
}
.story{
    /* border:1px solid red; */
    flex-basis:18%;
    padding-top:32%;  /*  as per image size */
    position:relative;
    /* background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/status-1.png); */
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    border-radius:10px;
}
.story img{
    border:2px solid #1876f2;
    position:absolute;
    width:45px;
    border-radius:50%;
    top:10px;
    left:10px;
    padding:2px;
    background-color: white;    
}
.story p{
    position:absolute;
    bottom:10px;
    width:100%;
    text-align:center;
    color:white;
    font-size:14px;
}
.story1{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/status-1.png);
}
.story2{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/status-2.png);
}
.story3{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/status-3.png);
}
.story4{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/status-4.png);
}
.story5{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/status-5.png);
}
.story.story1 img{
    /* top:50%;    
    left:50%;   
    transform:translate(-50%, -50%); */
    top:unset;
    left:50%;
    transform:translate(-50%);
    bottom:40px;
    border:0;
    padding:0;
    background-color: transparent; 
}
/*--------- write-post-container--------- */
.write-post-container{
    width:100%;
    background-color:var(--bg-color);
    border-radius:6px;
    padding:20px;
    color:#626262;
}
.user-profile{
    display:flex;
    align-items:center;
    gap:10px;
}
.user-profile img{
    width:45px;
    border-radius:50%;
    border:2px solid #1876f2;
    padding:2px;
}
.user-profile p{
    /* margin-bottom:-5px; */
    font-weight: 500;
    color:#626262
}
.user-profile small{   
    font-size: 12px;   
    display:flex;
    /* width:fit-content; */
    align-items:center;   
}
.post-input-container{
    /* border:1px solid red; */
    padding-left:55px;
    padding-top:20px;
}
.post-input-container textarea{
    width:100%;
    border:0;
    outline:0;
    border-bottom:1px solid  #ccc;
    background:transparent;
    resize:none;
}
.add-post-links{    
    display:flex;   
    margin-top:10px;
    /* justify-content: center;; */
}
.add-post-links a{
    text-decoration:none;
    display:flex;
    align-items:center;
    gap:10px;
    color:#626262;
    font-size:13px;
    margin-right:30px;    
}
.add-post-links a img{
    width:20px;
}
/*--------------- post container--------------- */
.post-container{
    width:100%;
    background-color:var(--bg-color);
    border-radius:6px;
    padding:20px;
    color:#626262;
    margin:20px 0;
}
.user-profile span{
   font-size:13px;
   color:#9a9a9a 
}
.user-profile a{   
    margin-left:auto;
    color:#9a9a9a;
}
.post-text{
color:#9a9a9a;
margin:15px;
font-size:15px;
line-height:1.3
}
.post-text span{
    font-weight:500;
    color:#626262;
}
.post-text a{
    text-decoration:none;
    color:#1876f2;
}
.post-img {
    /* border:1px solid green; */
    width:100%;
    border-radius:4px;
    margin-bottom:5px;
}
.post-row{
    display:flex;
    align-items:center;
    /* justify-content:space-between; */
    /* border:1px solid red; */
}
.activity-icons div{    
    display:inline-flex;
    gap:5px;
    align-items:center;
    margin-right:30px;    
}
.activity-icons div img{
    width:18px;
    /* margin-right: 10px; */
}
.post-profile-icon{
    display:flex;
    align-items:center;
    margin-left:auto;
}
.post-profile-icon img{
    width:20px;
    border-radius:50%;   
}
.load-more-btn{
    display:block;
    margin:auto;
    cursor:pointer;
    padding:5px 10px;
    outline:0;
    border:1px solid #9a9a9a;
    color:#626262;
    background:transparent;
    border-radius:4px;
}
footer{
    text-align:center;
    color:#9a9a9a;
    font-size:13px;
    padding: 10px 0 20px;
}
/*---------------settings menu--------------- */
.settings-menu{   
    position:absolute;
    width:90%;
    max-width:350px;
    /* height:500px; */   
    background:var(--bg-color);
    box-shadow:0 0 10px rgba(0, 0, 0, 0.4);
    border-radius:4px;
    overflow:hidden;
    top:100%;
    right:5%; 
    max-height:0;
    transition: max-height 0.2s;    
}
.settings-menu-height{
   max-height:400px;   
}
.user-profile a {
    font-size:12px;
    color:#1876f2;
    text-decoration:none;
}
.settings-menu-inner{
    padding:20px;    
}
.settings-menu hr{
    border:0;
    height:1px;
    background:#9a9a9a;
    margin-block:15px;
}
.setting-links{
    display:flex;
    align-items:center;
    gap:10px;
    margin:15px 0;
}
.setting-links .settings-icon {
    width:38px;
}   
.setting-links a{    
    display:flex;
    /* width:100% */
    flex:1;
    align-items:center;
    justify-content:space-between;
    text-decoration:none;
    color:#626262;
    /* border:1px solid green; */
}
/*--------------dark btn--------------- */
#dark-btn{    
    position:absolute;
    top:18px;
    right:18px;
    background:#ccc;
    width:45px;
    border-radius:15px;
    padding:2px 3px;
    display:flex;
    align-items: center;
    transition: padding-left 0.5s, background 0.5s, border 0.5s;
    cursor:pointer;
    /* padding-left:24px; */
    border:1px solid transparent;    
}
#dark-btn span{
    width:15px;
    height:15px;
    border-radius:50%;
    background:#fff;
    display:inline-block;    
}
#dark-btn.dark-btn-on{
    padding-left:24px;
    background:#0a0a0a;    
    border:1px solid #9a9a9a;
}
